<!doctype html>

<html lang="{{ .Page.Language }}"{{ with .Params.pageid }} data-pageid="{{.}}"{{end}}>
<head>
{{- partial "html/head.html" . }}
{{- block "inside-head" . }}{{ end -}}
</head>

<body>
 <div id="vue-app">
  <div id="ws-overlay" :class="{'is-overlay':sideNav_show}" @click="sideNav_toggle"></div>
{{ partial "html/body-topbar.html" . -}}

{{ block "main" . }}
  <section class="ws-content container">
   <h3>UNDER CONSTRUCTION!</h3>
  </section>
{{ end }}

{{ partialCached "html/body-footer.html" . }}
 </div>
</body>
</html>
