
{{- define "main" }}
{{- $lang := $.Page.Language.Lang }}
{{- $i18n := $.Page.Params.i18n }}
{{- $list_blogs := first 20 (where .Site.RegularPages "Section" "blog") }}
  <main id="ws-home" class="container content pad-touch-only">
   <h1 class="title mt-3">{{ .Title }}</h1>
   <p>(under construction)</p>
{{/*
   <div class="columns is-8">

    <!-- LEFT MAIN COLUMN -->
    <div class="column is-8">
     <div class="columns is-multiline">

      <div class="column is-12">
       <p class="ws-intro">{{ $i18n.intro_text | safeHTML }}</p>
      </div>

     </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="column is-4">
     <div class="columns is-multiline">
     </div>
    </div>
   </div>
*/}}
  </main>
{{ end }}